* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins", sans-serif;
    background-color: #09080c;
    color: #f2f1f3;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 15px;
    background-color: #0d0c11;
    border-radius: 15px;
}

h1 {
    font-family: "MarckScript", sans-serif;
    color: #f2f1f3; 
    font-size: 4em;
    margin-bottom: 20px;
}

p {
    font-size: 2em;
}

::selection {
    background: rgba(135, 135, 135, 0.3);
}

::-moz-selection {
    background: #535355;
}
